body {
    background-color: black;
}

.words-row {
    display: flex; /* Располагает элементы в ряд */
    gap: 20px;     /* Отступы между словами */
    font-size: 20px;
}

.words-row{
    background-color: black; /* Чёрный фон */
    color: white;           /* Белые буквы */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  /* Центр по горизонтали */
    align-items: flex-start;  /* Выравнивание сверху */
    height: 100vh;            /* Высота на весь экран */
    padding: 400px;
}



.idk {
    display: inline-block;    /* Рамка только вокруг слова */
    border: 2px solid white;  /* Рамка */ 
    border-radius: 10px;      /* Скругленные углы */
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.idk:hover {
    background-color: white;
    color: black;
    border-color: black;
}